<section id="covid">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20 border-t border-transparent dark:border-gray-800">
            <h2 class="h2 font-red-hat-display mb-4 text-center">COVID Relief - We Are Here to Help You</h2>
            
            <div class="py-6 md:col-span-7 lg:col-span-7 mb-8 md:mb-0 text-center md:text-center">
                <p class="text-xl text-gray-600 dark:text-gray-400" data-aos="fade-down" data-aos-delay="150">We are currently offering discounted pricing on onboarding and waiving monthly fees in an effort to help restaurants get back on their feet. Click below to learn more about our COVID-19 Relief for Restaurants.</p>
            </div>

            <div class="py-6 md:col-span-7 lg:col-span-7 mb-8 md:mb-0 text-center md:text-center">
                <p class="text-xl text-gray-600 dark:text-gray-400" data-aos="fade-down" data-aos-delay="150">The Covid-19 epidemic has severely impacted the restaurant industry already. So far the industry has suffered from 8 million lost jobs, a loss of 240 billion in expected revenue, and countless restaurants permanently closing their doors. According to Me&u’s recent report on consumer dining, restaurants will need to change to the “new normal.”</p>
            </div>

        </div>
    </div>
</section>