<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <h2>Get In Touch</h2>
        <p>If you are interested in testing out our platform in your restaurant please fill out the form below or contact us directly via phone or email.</p>
        <div class="split style1">
            <section>
                <form method="POST" action="https://formspree.io/xlepdwgw">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="5"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                    </ul>
                </form>
            </section>
            <section>
                <ul class="contact">
                    <li>
                        <h3>Address</h3>
                        <span>Bridge Hall, 3670 Trousdale Pkwy, Los Angeles, CA</span>
                    </li>
                    <li>
                        <h3>Email</h3>
                        <a href="mailto:andrew@booth-tech.com">Andrew@booth-tech.com</a>
                        <a href="mailto:mitchell@booth-tech.com">Mitchell@booth-tech.com</a>
                    </li>
                    <li>
                        <h3>Phone</h3>
                        <span>(949) 379-0527</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</section>