<section id="whatWeDo">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20 border-t border-transparent dark:border-gray-800">
            <h2 class="h2 font-red-hat-display mb-4 text-center">What We Do</h2>
            
            <div class="py-6 md:col-span-7 lg:col-span-7 mb-8 md:mb-0 text-center md:text-center">
                <p class="text-xl text-gray-600 dark:text-gray-400" data-aos="fade-down" data-aos-delay="150">Booth solves restaurant inefficiencies and typical customer frustrations such as wait times, poor service, flagging down waiters, and splitting and paying the bill, which all negatively impact a restaurant's revenue. Time is wasted when customers are: 1) waiting to be seated, 2) placing orders with waiters once seated, and 3) paying the bill at the end of the meal. These inefficiencies limit a restaurant's table turnover and frustrate customers but are still accepted as status quo.</p>
            </div>
            
            <div class="flex-grow">
                <div class="grid md:grid-cols-2 gap-4 sm:gap-6">
                    <article class="p-6 bg-white dark:bg-gray-800 shadow-2xl flex flex-col">
                        <header>
                            <h3 class="h4 font-red-hat-display mb-1">
                                <a href="#0">Increase Turnover</a>
                            </h3>
                        </header>
                        <div class="text-gray-600 dark:text-gray-400 flex-grow">
                            <p>                    <blockquote class="text-xl text-gray-600 dark:text-gray-400">Average time of 10 minutes spent paying the bill is eliminated through individualized and instantaneous payment.</p>
                        </div>
                    </article>
                    <article class="p-6 bg-white dark:bg-gray-800 shadow-2xl flex flex-col">
                        <header>
                            <h3 class="h4 font-red-hat-display mb-1">
                                <a href="#0">Increase Bill Size</a>
                            </h3>
                        </header>
                        <div class="text-gray-600 dark:text-gray-400 flex-grow">
                            <p>Mobile ordering has been shown to increase the average bill size up to 35%</p>
                        </div>
                    </article>
                    <article class="p-6 bg-white dark:bg-gray-800 shadow-2xl flex flex-col">
                        <header>
                            <h3 class="h4 font-red-hat-display mb-1">
                                <a href="#0">Split the Bill</a>
                            </h3>
                        </header>
                        <div class="text-gray-600 dark:text-gray-400 flex-grow">
                            <p>Customers can easily split the bill evenly based on what they each ordered.</p>
                        </div>
                    </article>
                    <article class="p-6 bg-white dark:bg-gray-800 shadow-2xl flex flex-col">
                        <header>
                            <h3 class="h4 font-red-hat-display mb-1">
                                <a href="#0">Simplify the Waiter’s Job</a>
                            </h3>
                        </header>
                        <div class="text-gray-600 dark:text-gray-400 flex-grow">
                            <p>Waiter’s spend 60% of their time collecting orders and processing payment. Mobile ordering and payment allows them to focus on upselling and improving the overall customer experience.</p>
                        </div>
                    </article>
                </div>
            </div>

            
            
            <!-- Testimonials -->
            <!-- <div class="max-w-sm mx-auto grid gap-x-8 gap-y-12 sm:grid-cols-2 lg:gap-12 items-start sm:max-w-none md:max-w-2xl lg:max-w-none"> -->
                <!-- 1st testimonial -->
                <!-- <div class="text-center"> -->
                    <!-- <div class="relative inline-flex flex-col mb-4">
                        <img class="rounded-full" src="../images/testimonial-01.jpg" width="56" height="56" alt="Testimonial 01" />
                        <svg class="absolute top-0 right-0 mt-1 -mr-8" width="27" height="12" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-current text-purple-500" d="M2.785 5.334C2.538 5.5-.2 2.944.011 2.646.826 1.483 2.183.836 3.62.5 5.064.158 6.582.117 7.92-.02c.017-.002.098.153.088.166-1.763 2.018-3.223 3.836-5.221 5.188zm3.676 6.519c-.862.184-1.937-3.403-1.07-3.711 3.422-1.22 7.078-1.671 10.728-1.766 3.655-.096 7.304.162 10.866.32.044.002.06.177.018.187-6.938 1.634-13.691 3.504-20.542 4.97z" />
                        </svg>
                    </div> -->
                    <!-- <div class="font-red-hat-display font-bold mt-2">
                        <cite class="not-italic">Increase Turnover</cite>
                    </div>
                    <blockquote class="text-xl text-gray-600 dark:text-gray-400">Average time of 10 minutes spent paying the bill is eliminated through individualized and instantaneous payment.</blockquote>      
                </div> -->
                <!-- 2nd testimonial -->
                <!-- <div class="text-center">
                    <div class="font-red-hat-display font-bold mt-2">
                        <cite class="not-italic">Increase Bill Size</cite>
                    </div>
                    <blockquote class="text-xl text-gray-600 dark:text-gray-400">Mobile ordering has been shown to increase the average bill size up to 35%</blockquote>
                    
                </div> -->
                <!-- 3rd testimonial -->
                <!-- <div class="text-center">
                    <div class="font-red-hat-display font-bold mt-2">
                        <cite class="not-italic">Split the Bill</cite>
                    </div>
                    <blockquote class="text-xl text-gray-600 dark:text-gray-400">Customers can easily split the bill evenly based on what they each ordered.</blockquote>
                    
                </div> -->
                <!-- 4th testimonial -->
                <!-- <div class="text-center">
                    <div class="font-red-hat-display font-bold mt-2">
                        <cite class="not-italic">Simplify the Waiter’s Job</cite>
                    </div>
                    <blockquote class="text-xl text-gray-600 dark:text-gray-400">Waiter’s spend 60% of their time collecting orders and processing payment. Mobile ordering and payment allows them to focus on upselling and improving the overall customer experience.</blockquote>
                </div>
            </div> -->
            
        </div>
    </div>
</section>